<div class="choiceForm">
     <%= label_tag "Answer:" %>
     <%= text_area_tag "answers[]", nil, rows: 5, style: "width:90%", id: "answers"%>
     <a href="#" onclick="removeChoice($(this))" class="remove-choice" > X </a>
</div>
